# macOS
**.DS_Store

# JetBrains
.idea/

# Python
**__pycache__
**.pytest_cache

# build
.Python
build/
dist/
*.egg-info/

# environment
*env*
!.env.template
*venv*
.python-version
.python-venv

# testing
.pytest_cache/
